<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <form method="post">

      <table>
        <tr>
          <td>Id:<input type="text" name="" value="<%= user.id %>" readonly></td>
        </tr>
        <tr>
          <td>Username<input type="text" name="" value="<%= user.username %>"></td>
        </tr>
        <tr>
          <td>Password<input type="text" name="" value="<%= user.password%>"></td>
        </tr>
        <tr>
          <td>Email<input type="text" name="" value="<%= user.email %>"></td>
        </tr>
        <tr>
          <td>Type<input type="text" name="" value="<%= user.type %>"></td>
        </tr>
      </table>

    </form>

  </body>
</html>
